.DS_Store

.husky/_/

.env
.env.*
!.env.example

node_modules/

.venv/
venv/

dist/
build/
.next/
*.tsbuildinfo

.idea/

.vscode/

coverage/

__pycache__/

*.pyc

.mypy_cache/
.ruff_cache/
.pytest_cache/

*.log

*.sqlite

*.db